.page {
  display: block;
  max-width: 1440px;
  color: #ffffff;
}


.header__menu {
  padding-left: 195px;
  padding-top: 30px;
  padding-right: 278px;

  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.menu__brand {
  padding-right: 80px;
}

.brandname {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}


.navigation__item {
  padding-right: 21px ;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  }

.authorisation{
  padding-left: 241px;

}

.authorisation__item{
  font-size: 14px;
  line-height: 22px;

  

  text-align: right;
  letter-spacing: 0.2px;
}

.join{
  background: #FC724D;
  border-radius: 5px;

  width: 138px;
  height: 52px;
  
}

.login{
  padding-right: 45px;
  padding-left: 241px;
}
.header__content{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  
  
}
.header__content__text {
  padding-left: 132px;
  padding-top: 157px;
}

.tag {
  font-size: 16px;
  line-height: 24px;


  letter-spacing: 0.1px;
}

.title {
  font-size: 58px;
  line-height: 80px;

  letter-spacing: 0.2px;

}

.sub__title {
  font-size: 20px;
  line-height: 30px;

  padding-top: 30px;
  padding-bottom: 30px;

  letter-spacing: 0.2px;
}

.header__content__button{
  display: flex;
  
  
}

.sub__join{
display: flex;
align-items: center;
padding: 15px 40px;
gap: 10px;

width: 133px;
height: 52px;


background: #FC724D;
border-radius: 5px;

}

.more__button{
  padding-left: 50px;

  background: #FC724D;
  border-radius: 5px;
}

.header__content-rightside{
  display: flex;

}
.img3{
  padding-bottom: 183.85;
  padding-left: 58.69px; 
}

.tech1{
  position: flex;
  
}

.page__content{

  display: block;
  
  justify-content: center;
  align-items: center;
  
}

/* first floor */

.page__content-firstfloor {
  display: flex;
  flex-flow: column wrap;

  padding-top: 160px;
  
}

.floortag{
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.2px;

  color: #FC724D;
}

.floortitle{
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 40px;
  line-height: 50px;

  letter-spacing: 0.2px;
}

.floortext{
  padding-bottom: 80px;

  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.2px;
}

.cards {
  display: flex;
  padding-bottom: 197px;
}

.cards__position{
  align-items: center;
  display: flex;
  
  
}
.cards-card{
  display: flex;
  flex-flow: column wrap;
  
  padding: 35px 40px;
  gap: 20px;

  background: #FFFFFF;

  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card__title {
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.1px;

  background: #FFFFFF;

  color: #252B42;
}

.card__text{
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.2px;

  background: #FFFFFF;

  color: #737373;
}

/* second floor */

.page__content-secondfloor {
  display: flex;
  padding-bottom: 160px;
}

.secondfloor__rightside{
  padding-left: 108px;
}

.secondfloortitle{
  font-size: 40px;
  line-height: 50px;

  letter-spacing: 0.2px;

  margin-bottom: 35px;
}

.learn{
  margin-top: 35px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;

  color: #FC724D;
}

/* third floor */

.product__category{
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.2px;

  color: #FC724D;

  background-color: #FFFFFF;
}

.product__text{
  
}